.host-question-wrapper {
	height: 640px;
	width: 420px;
	box-sizing: border-box;
	padding: 10px;
	background-color: #eee;
}
.host-question-wrapper .intro {
	font: 15px/1.2 fast_money_three, Arial, Helvetica, sans-serif;
	color: #777;
}
.host-question-wrapper h1 {
	margin-top: 20px;
	font: 20px/1.2 fast_money_three, Arial, Helvetica, sans-serif;
	color: #000;
}
