<div class="geekofflogo">
  <div *ngIf="currentScreen == 'question'">
    <div class="questionBox" *ngIf="questionVisible" [@fadeIn]>
        <div class="topright">{{currentQuestion.questionNum}}</div>
        {{currentQuestionDto.questionText}}
    </div>
    <div class="mediaBox" *ngIf="showMedia"></div>
    <div class="answerBox" *ngIf="answerVisible && (currentQuestionDto.answerType == questionMulti)" [@fadeIn]>
        <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
            <div *ngFor="let question of currentQuestionDto.answers" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" style="padding: 10px;">
                <span *ngIf="!answerShown" class="answer">{{question.answer}}</span>
                <span *ngIf="answerShown && question.answer != currentQuestionDto.correctAnswer" class="wrongAnswer" [@fadeIn]>{{question.answer}}</span>
                <span class="correctAnswer" *ngIf="answerShown && question.answer == currentQuestionDto.correctAnswer" [@fadeIn]>
          {{currentQuestionDto.correctAnswer}}
        </span>
            </div>
        </div>
    </div>



    <div class="answerBox" *ngIf="answerVisible && (currentQuestionDto.answerType == questionMatch)" [@fadeIn]>
        <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
            <div *ngFor="let question of currentQuestionDto.answers" class="answer" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" style="padding: 10px;">
                <span class="correctAnswer" *ngIf="answerShown" [@fadeIn]>{{matchString.charAt(question.answerId)}}: </span> {{question.answerId}}. {{question.answer}}
            </div>
        </div>
    </div>
    <!--correct answer for written text only-->
    <div class="answerBox" *ngIf="answerShown && (currentQuestionDto.answerType == questionText)" [@fadeIn]>
        {{currentQuestionDto.correctAnswer}}
    </div>
  </div>

  <div class="prize" *ngIf="currentScreen == 'prize1'" [@slideLeft]>
    <img src="https://geekoff2021static.blob.core.windows.net/images/R1_Olive.jpg" class="fullscreen" />
  </div>

  <div class="prize" *ngIf="currentScreen == 'prize2'" [@slideLeft]>
    <img src="https://geekoff2021static.blob.core.windows.net/images/r1_prize2.jpg" class="fullscreen" />
  </div>
</div>

