@use '@angular/material' as mat;
@include mat.core();

/* ======== Angular material custom themes ======== */

$go-primary: mat.define-palette(mat.$blue-palette, 500, 900);
$go-accent: mat.define-palette(mat.$green-palette, 100, 500, 700);
$go-warn: mat.define-palette(mat.$pink-palette);
$go-theme: mat.define-light-theme($go-primary, $go-accent, $go-warn);
@include mat.all-component-themes($go-theme);
@font-face {
    font-family: eggcrate;
    src: url('//geekoff2021static.blob.core.windows.net/fonts/eggcrate.ttf');
}

@font-face {
    font-family: sportstype;
    src: url('//geekoff2021static.blob.core.windows.net/fonts/sportstype.ttf');
}

@font-face {
    font-family: fastmoney;
    src: url('//geekoff2021static.blob.core.windows.net/fonts/fast-money-three.ttf');
}

@font-face {
    font-family: round2scoreboard;
    src: url('//geekoff2021static.blob.core.windows.net/fonts/arcadeclassic.ttf');
}

@font-face {
    font-family: goudyheavy;
    src: url('//geekoff2021static.blob.core.windows.net/fonts/goudyheavy.otf');
}

@font-face {
    font-family: priceIsRight;
    src: url('https://geekoff2021static.blob.core.windows.net/fonts/pricedown_bl.otf');
}

.container-app {
    width: 100%;
    height: 100%
}

.bigbtngrnlabel {
    background: #02856b;
    background-image: -webkit-linear-gradient(top, #00b989, #098060);
    background-image: -moz-linear-gradient(top, #00b989, #098060);
    background-image: -ms-linear-gradient(top, #00b989, #098060);
    background-image: -o-linear-gradient(top, #00b989, #098060);
    background-image: linear-gradient(to bottom, #00b989, #098060);
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #d0dae0;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin: 10px 10px 10px 10px;
    text-decoration: none;
}

.bigbtngrnlabel:hover {
    background: #1c55ff;
    background-image: -webkit-linear-gradient(top, #04d6ac, #0fab89);
    background-image: -moz-linear-gradient(top, #04d6ac, #0fab89);
    background-image: -ms-linear-gradient(top, #04d6ac, #0fab89);
    background-image: -o-linear-gradient(top, #04d6ac, #0fab89);
    background-image: linear-gradient(to bottom, #04d6ac, #0fab89);
    text-decoration: none;
}

.bigbtngrn input:checked~.bigbtngrnlabel {
    background: #ffff00;
    background-image: -webkit-linear-gradient(top, #0078d2, #00467f);
    background-image: -moz-linear-gradient(top, #0078d2, #00467f);
    background-image: -ms-linear-gradient(top, #0078d2, #00467f);
    background-image: -o-linear-gradient(top, #0078d2, #00467f);
    background-image: linear-gradient(to bottom, #0078d2, #00467f);
    text-decoration: none;
    color: #fff;
}

.bigbtnblue input,
.bigbtngrn input,
.bigbtnred input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.bigbtnbluelabel {
    background: #1c55ff;
    background-image: -webkit-linear-gradient(top, #3b42ff, #0d15ff);
    background-image: -moz-linear-gradient(top, #3b42ff, #0d15ff);
    background-image: -ms-linear-gradient(top, #3b42ff, #0d15ff);
    background-image: -o-linear-gradient(top, #3b42ff, #0d15ff);
    background-image: linear-gradient(to bottom, #3b42ff, #0d15ff);
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin: 10px 10px 10px 10px;
    text-decoration: none;
}

.bigbtnbluelabel:hover {
    background: #02856b;
    background-image: -webkit-linear-gradient(top, #1c55ff, #1269ff);
    background-image: -moz-linear-gradient(top, #1c55ff, #1269ff);
    background-image: -ms-linear-gradient(top, #1c55ff, #1269ff);
    background-image: -o-linear-gradient(top, #1c55ff, #1269ff);
    background-image: linear-gradient(to bottom, #1c55ff, #1269ff);
    text-decoration: none;
    color: #ffffff;
}

.bigbtnblue input:checked~.bigbtnbluelabel {
    background: #02856b;
    background-image: -webkit-linear-gradient(top, #1c55ff, #1269ff);
    background-image: -moz-linear-gradient(top, #1c55ff, #1269ff);
    background-image: -ms-linear-gradient(top, #1c55ff, #1269ff);
    background-image: -o-linear-gradient(top, #1c55ff, #1269ff);
    background-image: linear-gradient(to bottom, #1c55ff, #1269ff);
    text-decoration: none;
    color: #ffffff;
}

.bigbtnredlabel {
    background: #ea2300;
    background-image: -webkit-linear-gradient(top, #ea2300, #8f1300);
    background-image: -moz-linear-gradient(top, #ea2300, #8f1300);
    background-image: -ms-linear-gradient(top, #ea2300, #8f1300);
    background-image: -o-linear-gradient(top, #ea2300, #8f1300);
    background-image: linear-gradient(to bottom, #ea2300, #8f1300);
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin: 10px 10px 10px 10px;
    text-decoration: none;
}

.bigbtnredlabel:hover {
    background: #1c55ff;
    background-image: -webkit-linear-gradient(top, #e64d35, #993528);
    background-image: -moz-linear-gradient(top, #e64d35, #993528);
    background-image: -ms-linear-gradient(top, #e64d35, #993528);
    background-image: -o-linear-gradient(top, #e64d35, #993528);
    background-image: linear-gradient(to bottom, #e64d35, #993528);
    text-decoration: none;
}

.bigbtnred input:checked~.bigbtnredlabel {
    background: #ffff00;
    background-image: -webkit-linear-gradient(top, #e64d35, #993528);
    background-image: -moz-linear-gradient(top, #e64d35, #993528);
    background-image: -ms-linear-gradient(top, #e64d35, #993528);
    background-image: -o-linear-gradient(top, #e64d35, #993528);
    background-image: linear-gradient(to bottom, #e64d35, #993528);
    text-decoration: none;
    color: #fff;
}

.redborder {
    border-style: double;
    border-color: red;
    padding: 2px 2px 2px 2px;
}

.greenborder {
    border-style: double;
    border-color: green;
    padding: 2px 2px 2px 2px;
}

.blueborder {
    border-style: double;
    border-color: blue;
    padding: 2px 2px 2px 2px;
}

.btngrnbg {
    background: #02856b;
    background-image: -webkit-linear-gradient(top, #02856b, #085747);
    background-image: -moz-linear-gradient(top, #02856b, #085747);
    background-image: -ms-linear-gradient(top, #02856b, #085747);
    background-image: -o-linear-gradient(top, #02856b, #085747);
    background-image: linear-gradient(to bottom, #02856b, #085747);
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
}

/* ============== Flex Layout replacement CSS ============== */
// Gap.
.gap-4 { gap: 4px; }
.gap-8 { gap: 8px; }
.gap-10 { gap: 10px; }
.gap-12 { gap: 12px; }
.gap-16 { gap: 16px; }

// Flex row/col + grid.
.flex-row { display: flex; flex-direction: row; }
.flex-col { display: flex; flex-direction: column; }
.grid { display: grid; }

// Flex-wrap utils.
.flex-wrap { flex-wrap: wrap; }  // Mostly used with flex-row, when wrapping is desired.
.flex-col-xs { @media screen and (max-width: 599px) { flex-direction: column; } }  // Switch from flex-row to flex-col on mobile.

// Justify content.
.space-between { justify-content: space-between; }  // Used very often with flex-row.
.justify-center { justify-content: center; }  // Used to center something via flexbox.

// Align items. (Naming inspiration: https://tailwindcss.com/docs/align-items.)
.items-center { align-items: center; }  // Used very often with flex-row.

// Flex/grow/shrink properties https://developer.mozilla.org/en-US/docs/Web/CSS/flex.
.flex-1 { flex: 1 }  // Same as flex: 1 1 0 (grow, shrink, basis 0). Has similar effect to width: 100%;
.flex-grow { flex-grow: 1; }  // Same as flex: 1 1 auto (grow, shrink, basis auto). For spacer, etc.
