<p>round3control works!</p>
<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
  <form [formGroup]="round3Form" (ngSubmit)="saveUserAnswer()">
  <div id="buttonScreen" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="100%"
  style="padding: 10px;" *ngFor="let question of round3Questions">
  <input
  type="radio"
  name="questionNum"
  id="{{ question.questionNum }}"
  value= "{{ question.questionNum }}"
  formControlName="questionNum"
  class="bigbtnblue"
/>
<label for="{{ question.questionNum }}" class="bigbluebtnlbl">{{
  question.score
}}</label>
  </div>

</form>
</div>
