<p>round1 works! This needs Flex Layout installed.</p>
<div id="currentScoreboard"><p>CurrentScoreboard</p></div>
<div id="currentAnswer"><p>CurrentAnswers</p></div>
<div id="controlCorner">
  <button id="showAnswer">Show Answer</button>
  <button id="openAnswer">Open Answer</button>
  <button id="closeAnswer">Close Answer</button>
  <button id="goToNextQuestion">Go to next question</button>
  <button id="finalizeRound">Finalize round</button>
</div>
<div id="scorePane">
  <button id="autoScore">Auto-Score</button>
<p>Score answers here</p>
</div>
