mat-icon {
  width: 30px;
}


.flexWrap {
  gap: 16px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
}

// desktop
@media only screen and (min-width: 960px) {
  .detailItem30 {
    width: 30% !important;
    margin: auto;
    text-align: left;
    padding: 10px;
  }

  .detailItem70 {
    margin: auto;
    text-align: left;
    padding: 10px;
  }
}

// small and xsmall
@media only screen and (max-width: 959px) {
  .flexWrap {
    flex-direction: column;
  }

  .detailItem .detailItem30 .detailitem70 {
    width: 100%;
    margin: auto;
    text-align: left;
    padding: 10px;
  }
}
