<h2>Geek Off Pregame Control</h2>
<div class="content container flexWrap">
  <div id="buttonScreen" class="detailItem30">
    <h3>Control screens</h3>
    <form [formGroup]="pageForm">
        <label for="pageName">Select a screen:</label>
        <select id="pageName" formControlName="pageName">
          <option>--</option>
          <option *ngFor="let page of listofPages" [value]="page.key">
            {{page.value}}
          </option>
        </select>

      <button type="submit" class="bigbtngrnlabel" (click)="changeScreen()">Change screen</button>
    </form>
    <div>
      <button id="seatBelt" class="bigbtngrnlabel" (click)="changeSeatBelt()">Turn on seatbelt sign</button>
      <button id="playCbsSound" class="bigbtngrnlabel" (click)="playCbsSound()">Play CBS sound</button>
    </div>
    <div id="rules">
      <button id="animateText" class="bigbtngrnlabel" (click)="animateText()">Show rules</button>
      <button id="moveToRound1" class="bigbtnredlabel" (click)="moveToRound1()">Move to Round 1</button>
    </div>
    </div>
    <div id="infoScreen" class="detailItem70">
      <h3>Update team information</h3>
      <form [formGroup]="fundForm">
        <label for="teamNumber">Team number:</label>
        <select id="teamNumber" formControlName="teamNumber" (change)="fundFormStatus = ''">
          <option>--</option>
          <option *ngFor="let team of teamList" [value]="team.teamNum">
            {{team.teamNum}} - {{team.teamName}}
          </option>
        </select>
        <label for="dollarAmount">Dollars raised:</label>
        <input id="dollarAmount" formControlName="dollarAmount" name="dollarAmount" type="number">
      <button type="submit" class="bigbtngrnlabel" (click)="updateDollarRaised()">Update dollar amount</button>
      <div>{{fundFormStatus}}</div>
    </form>
    </div>
    </div>
