<div *ngIf="!userIsLoggedIn">
  <p>Please log in to start the game.</p>
</div>

<div *ngIf="userIsLoggedIn">
  <p>You are in the Geek Off!</p>
  <p><a routerLink="/round1/contestant">Start playing the game!</a></p>
</div>

<div>
<p>Below this line will be admin functions once the guards are established.</p>
<p>Round 1</p>
<p><a routerLink="/round1/intro/1">Start the intro screens</a></p>
<p><a routerLink="/round1/question/1">Start the round 1 questions</a></p>
<p><a routerLink="/round1/scoreboard">Show the round 1 scoreboard</a></p>
<p>Round 2</p>
<p><a routerLink="/round2/display">Round 2 big display board</a></p>
<p><a routerLink="/round2/countdown">Round 2 countdown</a></p>
<p><a routerLink="/round2/scoreboard">Round 2 scoreboard</a></p>
<p>Control</p>
<p><a routerLink="/control/round1">Round 1 control board</a></p>
<p><a routerLink="/control/round2">Round 2 control board</a></p>
<p>Host</p>
<p><a routerLink="/host/round2">Round 2 host screen</a></p>
</div>
