<div *ngIf="!userIsLoggedIn">
  <p>Please log in to start the game.</p>
</div>

<div *ngIf="userIsLoggedIn">
  <p>Welcome to the Geek Off!</p>
  <p><a routerLink="/round1/contestant">Start playing the game!</a></p>
</div>

<div *ngIf="userIsAdmin && userIsLoggedIn && yEvent.length > 0">
  <p>Event: {{yEvent}} - Admin functions:</p>
  <mat-grid-list cols='12' rowHeight='90px'>
    <mat-grid-tile colspan='6' rowspan='2'>
      <div>
        <h4>Round 1</h4>
        <p><a routerLink="/round1/intro/1">Start the intro screens</a></p>
        <p><a routerLink="/round1/question/1">Start the round 1 questions</a></p>
        <p><a routerLink="/round1/scoreboard">Show the round 1 scoreboard</a></p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan='6' rowspan='2'>
      <div>
        <h4>Round 2 - Fast Points</h4>
        <p><a routerLink="/round2feud/display">Round 2 big display board</a></p>
        <p><a routerLink="/round2feud/countdown">Round 2 countdown</a></p>
        <p><a routerLink="/round2feud/scoreboard">Round 2 scoreboard</a></p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan='6' rowspan='2'>
      <div>
        <h4>Control</h4>
        <p><a routerLink="/control/pregame">Intro/Pregame control board</a></p>
        <p><a routerLink="/control/round1">Round 1 control board</a></p>
        <p><a routerLink="/control/round2feud">Round 2 Fast Points control board</a></p>
        <p><a routerLink="/control/round3">Round 3 control board</a></p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan='6' rowspan='2'>
      <div>
        <h4>Host</h4>
        <p><a routerLink="/host/round1">Round 1 host screen</a></p>
        <p><a routerLink="/host/round2feud">Round 2 host screen</a></p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan='6' rowspan='2'>
      <div>
        <h4>Round 3</h4>
        <p><a routerLink="/round3/scoreboard">Round 3 scoreboard</a></p>
        <p><a routerLink="/round3jep/intro">Round 3 Jeopardy Intro</a></p>
        <p><a routerLink="/round3jep/board">Round 3 Jeopardy Board</a></p>
        Round 3 Final Jeopardy
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan='6' rowspan='2'>
      <div>
        <h4>Manage Events</h4>
        <p><a routerLink="/manageevent/setevent">Set current event</a></p>
        <p><a routerLink="/manageevent/stats">Event statistics</a></p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
