<div id="bb">
<p>A I R L I N E   G E E K   O F F</p>
<p>=============   =======   =====</p>
<mat-table class="round1ControlScoreboard" [dataSource]="displayObject">
  <ng-container matColumnDef="teamNo">
    <mat-header-cell *matHeaderCellDef> T </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row.teamNum}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="teamName">
    <mat-header-cell *matHeaderCellDef> NAME </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row.teamName}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="q.key" *ngFor="let q of displayObject | keyvalue">
    <mat-header-cell *matHeaderCellDef>{{ q.key }}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ q.value }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="bonus">
    <mat-header-cell *matHeaderCellDef> BNS </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row.bonus}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="ttl">
    <mat-header-cell *matHeaderCellDef> TTL </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row.teamScore}}
    </mat-cell>
  </ng-container>

  <!-- Header and Row Declarations -->
  <mat-header-row *matHeaderRowDef="['teamNo','teamName', 'bonus', 'ttl']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['teamNo','teamName', 'bonus', 'ttl']"></mat-row>
</mat-table>
</div>
