<div class="container-app">
<mat-toolbar color="primary" *ngIf="showLoginBar">
  <a class="title" href="/">{{ title }}</a>

  <div class="toolbar-spacer"></div>
  <div class="username" *ngIf="profile">{{profile.playerName}} {{profile.teamNum}}</div>

  <div>
  <button class="right" mat-raised-button *ngIf="!loginDisplay" (click)="login()">Login</button>
  <button class="right" mat-raised-button *ngIf="loginDisplay" (click)="logout()">Logout</button>
  </div>

</mat-toolbar>
<div class="container">
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  <router-outlet *ngIf="!isIframe"></router-outlet>
</div>
</div>
