span.right {
    float: right;
}

mat-toolbar {
    height: 15vh;
    margin: 0;
}

span.spacer {
    flex: 1 1 auto;
}

.btn-login {
    height: 2rem;
    float: right;
}

a:visited {
    color: white;
}

.username {
    font-size: 9pt;
    color: white;
}

// Required Bootstrap imports
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";

// Optional components
@import "../../node_modules/bootstrap/scss/grid";
