{{ currentScreen }}
<div id="default" *ngIf="currentScreen==='1'">
  <p>Geeks! Don't forget to log in on your phones!</p>
  <p>geekoff.azurewebsites.net</p>
</div>

<div id="default" *ngIf="currentScreen==='2'">
  <p>Masks are required at all times in this room.</p>
  <p>Unless you're the MC or announcer.</p>
</div>

<div id="intro1" *ngIf="currentScreen==='open'">
This is where the opening video goes.
</div>

<div id="teamList" *ngIf="currentScreen==='teamList'">
  <p>The teams.</p>
  <mat-table [dataSource]="teamMasterList">
    <ng-container matColumnDef="teamNo">
      <mat-header-cell *matHeaderCellDef> Team </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.teamNo}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="teamName">
      <mat-header-cell *matHeaderCellDef> Team Name </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.teamName}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="member1">
      <mat-header-cell *matHeaderCellDef> Player 1 </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.member1}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="member2">
      <mat-header-cell *matHeaderCellDef> Player 2 </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.member2}}
      </mat-cell>
    </ng-container>
    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="['teamNo', 'teamName', 'member1', 'member2']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['teamNo', 'teamName', 'member1', 'member2']"></mat-row>
  </mat-table>
</div>

<div id="rule1" *ngIf="currentScreen==='rule1'">
<p>Three rounds</p>
  <mat-list>
  <mat-list-item><mat-icon matListIcon>geekplane</mat-icon>Round 1: Trivia</mat-list-item>
    <mat-list-item matLine>15 Questions</mat-list-item>
    <mat-list-item matLine>6 teams advance</mat-list-item>
  <mat-list-item><mat-icon matListIcon>geekplane</mat-icon>Round 2: Fast Points
    <mat-list>
    <mat-list-item matLine>5 Questions</mat-list-item>
    <mat-list-item matLine>20-25 seconds per person</mat-list-item>
    <mat-list-item matLine>3 teams advance</mat-list-item>
  </mat-list>
  </mat-list-item>
  <mat-list-item><mat-icon matListIcon>geekplane</mat-icon>Round 3: Jeopardy!
    <mat-list>
    <mat-list-item matLine>20 Questions</mat-list-item>
    <mat-list-item matLine>Teams Compete to answer first</mat-list-item>
  </mat-list>
  </mat-list-item>
</mat-list>
</div>

<div id="rule2" *ngIf="currentScreen==='rule2'">
  <p>Rules</p>
    <mat-list>
    <mat-list-item><mat-icon matListIcon>geekplane</mat-icon>Scores will be reset after each round
    </mat-list-item>
    <mat-list-item><mat-icon matListIcon>geekplane</mat-icon>One bonus point for each $20 raised over $100 (max 10 bonus points)
    </mat-list-item>
    <mat-list-item><mat-icon matListIcon>geekplane</mat-icon>No answering before the host finishes asking the question</mat-list-item>
  </mat-list>
  </div>

  <div id="rule3" *ngIf="currentScreen==='rule3'">
    <p>Round 1: Trivia</p>
      <mat-list>
      <mat-list-item><mat-icon matListIcon>geekplane</mat-icon>15 questions worth 10 points each
        <mat-list>
        <mat-list-item matLine>Partial credit not awarded</mat-list-item>
      </mat-list>
      </mat-list-item>
      <mat-list-item><mat-icon matListIcon>geekphone</mat-icon>Answer on your cell phone before the time is up
      </mat-list-item>
      <mat-list-item><mat-icon matListIcon>geekplane</mat-icon>Top 6 teams advance to Fast Points round</mat-list-item>
    </mat-list>
    </div>
