<div id="screen1" class="aablue" [@fadeInOut] *ngIf="currentScreen==='1'">
  <p>Players - Don't forget to log in on your phones!</p>
  <p>&nbsp;</p>
  <p class="smaller">geekoff.azurewebsites.net</p>
</div>

<div id="screen2" class="aablue" [@fadeInOut] *ngIf="currentScreen==='2'">
  <p><img src='../../assets/icon/icon_facemask.svg' class="masksize"></p>
  <p>Masks are required at all times in this room.</p>
  <p class="smaller">Unless you're at a microphone.</p>
</div>

<div id="intro0" class="intro0" [@fadeInOut] *ngIf="currentScreen==='open'">
  </div>

<div id="intro1" *ngIf="currentScreen==='open2'">
This is where the opening video goes.
</div>

<div id="teamList" [@fadeInOut] *ngIf="currentScreen==='teamList'">
  <p>The teams.</p>
  <mat-table class="teamList" [dataSource]="teamMasterList">
    <ng-container matColumnDef="teamNo">
      <mat-header-cell *matHeaderCellDef> Team </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.teamNo}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="teamName">
      <mat-header-cell *matHeaderCellDef> Team Name </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.teamName}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="member1">
      <mat-header-cell *matHeaderCellDef> Player 1 </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.member1}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="member2">
      <mat-header-cell *matHeaderCellDef> Player 2 </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.member2}}
      </mat-cell>
    </ng-container>
    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="['teamNo', 'teamName', 'member1', 'member2']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['teamNo', 'teamName', 'member1', 'member2']"></mat-row>
  </mat-table>
</div>

<div id="rule1" class="rulescreen" [@fadeInOut] *ngIf="currentScreen==='rule1'">
<h2>Three rounds</h2>
  <mat-list class="questionBox">
    <div *ngIf="currentItem >= 0">
  <mat-list-item><h4><mat-icon svgIcon="geekplane" inline="true" matListIcon></mat-icon>Round 1: Trivia</h4></mat-list-item>
    <mat-list-item matLine><h5><mat-icon svgIcon="geekasterisk" inline="true" matListIcon></mat-icon>15 Questions</h5></mat-list-item>
    <mat-list-item matLine><h5><mat-icon svgIcon="geekasterisk" inline="true" matListIcon></mat-icon>6 teams advance</h5></mat-list-item>
    </div>
    <div *ngIf="currentItem >= 1" [@fadeInOut]>
    <mat-list-item><h4><mat-icon svgIcon="geekplane" inline="true" matListIcon></mat-icon>Round 2: Fast Points</h4></mat-list-item>
    <mat-list-item matLine><h5><mat-icon svgIcon="geekasterisk" inline="true" matListIcon></mat-icon>5 Questions</h5></mat-list-item>
    <mat-list-item matLine><h5><mat-icon svgIcon="geekasterisk" inline="true" matListIcon></mat-icon>20-25 seconds per person</h5></mat-list-item>
    <mat-list-item matLine><h5><mat-icon svgIcon="geekasterisk" inline="true" matListIcon></mat-icon>3 teams advance</h5></mat-list-item>
    </div><div *ngIf="currentItem >= 2" [@fadeInOut]>
    <mat-list-item><h4><mat-icon svgIcon="geekplane" inline="true" matListIcon></mat-icon>Round 3: Jeopardy!</h4></mat-list-item>
    <mat-list-item matLine><h5><mat-icon svgIcon="geekasterisk" inline="true" matListIcon></mat-icon>20 Questions</h5></mat-list-item>
    <mat-list-item matLine><h5><mat-icon svgIcon="geekasterisk" inline="true" matListIcon></mat-icon>Teams Compete to answer first</h5></mat-list-item>
    </div>
  </mat-list>
</div>

<div id="rule2" class="rulescreen"[@fadeInOut] *ngIf="currentScreen==='rule2'">
  <h2>Rules</h2>
    <mat-list class="questionBox">
    <mat-list-item *ngIf="currentItem >= 0" [@fadeInOut]><h4><mat-icon svgIcon="geekplane" inline="true" matListIcon></mat-icon>Scores will be reset after each round
    </h4></mat-list-item>
    <div *ngIf="currentItem >= 1" [@fadeInOut]>
    <mat-list-item ><h4><mat-icon svgIcon="geekplane" inline="true" matListIcon></mat-icon>One bonus point for each $20 raised over $100
    </h4></mat-list-item>
    <mat-list-item matLine><h5><mat-icon svgIcon="geekasterisk" inline="true" matListIcon></mat-icon>Maximum of 10 bonus points awarded</h5></mat-list-item>
    </div>
    <mat-list-item *ngIf="currentItem >= 2" [@fadeInOut]><h4><mat-icon svgIcon="geekplane" inline="true" matListIcon></mat-icon>No answering before the host finishes asking the question
    </h4></mat-list-item>
    <div *ngIf="currentItem >= 3" [@fadeInOut]>
    <mat-list-item><h4><mat-icon svgIcon="geekmask" inline="true" matListIcon></mat-icon>Masks required at all times in the room</h4></mat-list-item>
    <mat-list-item matLine><h5><mat-icon svgIcon="geekasterisk" inline="true" matListIcon></mat-icon>Except if you are in front of a microphone</h5></mat-list-item>
    </div>
  </mat-list>
  </div>

  <div id="rule3" class="rulescreen" [@fadeInOut] *ngIf="currentScreen==='rule3'">
    <h2>Round 1: Trivia</h2>
      <mat-list class="questionBox">
      <div *ngIf="currentItem >= 0" [@fadeInOut]>
      <mat-list-item><h4><mat-icon svgIcon="geekplane" inline="true" matListIcon></mat-icon>15 questions worth 10 points each</h4></mat-list-item>
        <mat-list-item matLine><h5><mat-icon svgIcon="geekasterisk" inline="true" matListIcon></mat-icon>Partial credit not awarded</h5></mat-list-item>
      </div>
        <mat-list-item *ngIf="currentItem >= 1" [@fadeInOut]><h4><mat-icon svgIcon="geekphone" inline="true" matListIcon></mat-icon>Answer on your cell phone before the time is up
      </h4></mat-list-item>
      <mat-list-item *ngIf="currentItem >= 2" [@fadeInOut]><h4><mat-icon svgIcon="geekplane" inline="true" matListIcon></mat-icon>Top 6 teams advance to Fast Points round</h4></mat-list-item>
    </mat-list>
    </div>
