###############################################################################
# Editor config to ignore the contents of the generate migration files from syntax analysis
###############################################################################
root = true
