mat-grid-list {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.question-title {
  position: absolute;
  left: 10px;
  font-size: large;
}

input.answer-choice {
  width: 150px;
}

.answer-choice {
  position: absolute;
  left: 10px;
  font-size: medium;
}

button {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  border: 2px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

button:hover {
  color: #ffffff !important;
  background: green;
  border-color: green !important;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

mat-row,
mat-footer-row {
  min-height: 24px;
}

mat-grid-list.top-row {
  flex: 1 1 auto;
}

mat-grid-list.question {
  width: 50vw;
  height: 100vw;
}

div.scoreboard {
  padding: 10px;
}

div.vl {
  border-left: 1px solid black;
  height: 300px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 50px;
}

.boxed {
  border: 5em;
}

.question-title {
  position: absolute;
  left: 10px;
  font-size: large;
}

.answer-choice {
  position: absolute;
  left: 10px;
  font-size: small;
}

button {
  color: #ffffff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #02856b;
  border: 2px solid #00b989 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

button:hover {
  color: #000000 !important;
  background: #d1d532;
  border-color: #d1d532 !important;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

div.container {
  vertical-align: middle;
  min-height: 75px;
  padding: 10px;
  mat-row,
  mat-footer-row {
    min-height: 24px;
  }
}

// Little space in between the start and stop button.
.divider {
  width: 5px;
  height: auto;
  min-height: 1px;
  display: inline-block;
}

.countdownScreen {
  font-size: 2.5vh;
  color: #ffff00;
  text-align: center;
  font-family: sportstype !important;
  position:absolute;

}

.countdownButtons {
  text-align: center;
}

#startButton {
  background-color: #02856b !important;
  color: white !important;
}

#stopButton {
  background-color: #c30019 !important;
  color: white !important;
}

#setButton {
  background-color: #0078d2 !important;
  color: white !important;
}
