mat-grid-list {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.question-title {
    position: absolute;
    left: 10px;
    font-size: large;
}

input.answer-choice {
    width: 150px;
}

.answer-choice {
    position: absolute;
    left: 10px;
    font-size: medium;
}

button {
    color: #aaa7a7 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: green;
    border: 2px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

button:hover {
    color: #ffffff !important;
    background: limegreen;
    border-color: limegreen !important;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

mat-row,
mat-footer-row {
    min-height: 24px;
}

mat-grid-list.top-row {
    flex: 1 1 auto;
}

mat-grid-list.question {
    width: 50vw;
    height: 100vw;
}

div.scoreboard {
    padding: 10px;
}

div.vl {
    border-left: 1px solid black;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 50px;
}

.boxed {
    border: 5em;
}

.question-title {
    position: absolute;
    left: 10px;
    font-size: large;
}

.answer-choice {
    position: absolute;
    left: 10px;
    font-size: small;
}

button {
    color: white;
    background-color: green;
}

button:hover {
    cursor: pointer;
}

div.container {
    vertical-align: middle;
    min-height: 75px;
    padding: 10px;
    mat-row,
    mat-footer-row {
        min-height: 24px;
    }
}

// Little space in between the start and stop button.
.divider {
  width:5px;
  height:auto;
  min-height: 1px;
  display:inline-block;
}
.countdownScreen {
  font-size: 23em;
  color: #ffff00;
  text-align: center;
  font-family: sportstype !important;
}

.countdownButtons {
  text-align: center;
}

#startButton {
  background-color: #00cc00 !important;
  color: white !important;
  font-size: 20px !important;
  border-radius: 8px !important;
}

#stopButton {
  background-color: #e60000 !important;
  color: white !important;
  font-size: 20px !important;
  border-radius: 8px !important;
}

#setButton {
  background-color: #00aaff !important;
  color: white !important;
  font-size: 20px !important;
  border-radius: 8px !important;
}
