<mat-grid-list cols='2' rowHeight='400px'>
  <mat-grid-tile colspan='1'>
    <div id="currentScoreboard" class="top-row scoreboard">
      <h3>Round 2 Scoreboard</h3>
      <mat-table class="round2ControlScoreboard" [dataSource]="scoreboard">
          <ng-container matColumnDef="teamNo">
              <mat-header-cell *matHeaderCellDef> Team # </mat-header-cell>
              <mat-cell *matCellDef="let row">
                  {{row.teamNo}}
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="teamScore">
              <mat-header-cell *matHeaderCellDef> Team Score </mat-header-cell>
              <mat-cell *matCellDef="let row">
                  {{row.teamScore}}
              </mat-cell>
          </ng-container>

          <!-- Header and Row Declarations -->
          <mat-header-row *matHeaderRowDef="['teamNo', 'teamScore']"></mat-header-row>
          <mat-row *matRowDef="let row; columns: ['teamNo', 'teamScore']"></mat-row>
      </mat-table>
      <button id="updateScoreboard" (click)="updateRemoteScoreboard()">Send scoreboard update</button>
      <button (click)="toggleBonusQuestion()">Toggle Bonus Question</button>
      <button (click)="playBuzzer()">Play Buzzer</button>
      <button (click)="playDings()">Play Dings</button>
      <div id="changeDisplay" style="padding: 10px;">
        <form [formGroup]="pickAnimateForm">
          <label for="currentDisplayId">Select a status:</label>
          <select id="currentDisplayId" formControlName="currentDisplayId">
        <option>--</option>
        <option *ngFor="let list of displayList" [value]="list.key">
          {{list.value}}
        </option>
      </select>
          <button id="revealAnswer" type="submit" (click)="showDisplayBoardValue()">Show Answer</button>
      </form>
      </div>
    </div>
  </mat-grid-tile>
  <div class='vl'></div>
  <mat-grid-tile colspan='1'>
    <div class="top-row">
      <p>Change the Team # to see previous answers</p>
      <mat-grid-list cols='3' rowHeight='60px' *ngFor="let answer of firstPlayerAnswers">
        <mat-grid-tile colspan='1'>
          {{ answer.questionNum }}:
        </mat-grid-tile>
        <mat-grid-tile colspan='1'>
          {{ answer.answer }}
        </mat-grid-tile>
        <mat-grid-tile colspan='1'>
          ({{ answer.score }}pts)
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<hr size="1" width="90%" color="black">
<form [formGroup]="newEventForm">
  <div style="vertical-align: middle; min-height: 75px; padding: 10px;">
    <mat-grid-list class="grid-layout-custom" cols="24" rowHeight="30px" gutterSize="10px">
      <mat-grid-tile colspan="24">
        <div class="answer-choice">{{ apiResponse }}</div>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <label for="teamNum" class="answer-choice">Team Number</label>
      </mat-grid-tile>
      <mat-grid-tile colspan="9">
        <input id="teamNum" name="teamNum" formControlName="teamNum" type="number" class="answer-choice" (change)="showFirstAnswers(this.newEventForm)">
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <label for="playerNum" class="answer-choice">Player Number</label>
      </mat-grid-tile>
      <mat-grid-tile colspan="9">
        <input id="playerNum" name="playerNum" formControlName="playerNum" type="number" class="answer-choice">
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols='3' rowHeight='350px'>
      <mat-grid-tile colspan='1' *ngFor="let question of surveyMasterList">
        <mat-grid-list cols="12" rowHeight="30px" class="boxed question">
          <div *ngIf="question.questionNum < 206 || showBonusQuestion">
            <mat-grid-tile colspan="12"></mat-grid-tile>
            <mat-grid-tile colspan="12">
              <div class="question-title">Question #{{question.questionNum}}</div>
            </mat-grid-tile>
            <mat-grid-tile colspan="12" *ngFor="let answer of question.surveyAnswers">
              <div class="answer-choice">
                <button (click)="presetAnswer(answer)">
                  +
                </button>
                {{answer.answer}}: {{answer.score}} points
              </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
              <label for="answer" class="answer-choice">Answer:</label>
            </mat-grid-tile>
            <mat-grid-tile colspan="8">
              <input id="answer{{question.questionNum}}" name="answer" formControlName="answer" type="text" class="answer-choice">
            </mat-grid-tile>
            <br>
            <br>
            <input id="questionNum{{question.questionNum}}" name="questionNum" type="hidden" value={{question.questionNum}}>
            <br>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile colspan="3">
              <label for="score" class="answer-choice">Score:</label>
            </mat-grid-tile>
            <mat-grid-tile colspan="8">
              <input id="score{{question.questionNum}}" name="score" formControlName="score" type="number" class="answer-choice">
            </mat-grid-tile>
            <br>
            <mat-grid-tile colspan="3">
              <button type="submit" class="answer-choice" id="sumbit{{question.questionNum}}" (click)="saveUserAnswer(question)">Submit</button>
            </mat-grid-tile>
          </div>
        </mat-grid-list>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</form>


