<div>if you are a player, please scan the QR code for your team to start the game!</div>
<mat-grid-list cols="8">
  <mat-grid-tile colspan="2"></mat-grid-tile>
  <mat-grid-tile colspan="4">
    <mat-grid-tile-header colspan="4">
      <h3>Admin user login</h3>
    </mat-grid-tile-header>
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
      <p>&nbsp;</p>
  <div>
    <mat-form-field>
      <mat-label>Enter Admin User Id:</mat-label>
      <input matInput type="text" id="userId" name="userId" formControlName="userId" required />
    </mat-form-field>
    &nbsp;
<!-- </div>
<div> -->
  <mat-form-field>
    <mat-label>Enter Admin password:</mat-label>
    <input matInput type="password" id="password" name="password" formControlName="password" required />
  </mat-form-field>
</div>
<button mat-raised-button mat-accent type="submit" class="contbtnredlabel">
  Login!
</button>
  </form>
</mat-grid-tile>
<mat-grid-tile colspan="2"></mat-grid-tile>
</mat-grid-list>
